<div class="about">
  <h1>Our mission is to be the smartest
    and most helpful food platform
    in existence</h1>

  <h3>We're fulfilling this mission by improving life in the kitchen
    for millions of home cooks around the world.</h3>

  <div class="banner">
    <img src="../../assets//banner2.jfif" alt="">
    <div class="banner-text">
      <h2>Join and create
        the future of foodJoin and create
        the future of food</h2>

        <p>We have appetizing aspirations to build the connected kitchen of the future and need more great people to get there. Cook-It proprietary Food Genome and patent-pending Food Intelligence technology allow us to understand recipes at a deeper level, and recommend recipes to our users based on their diets, allergies, tastes, and more.</p>
    </div>
  </div>
</div>