<div [@recipeAnimation] *ngIf="recipe && createdBy" class="recipe-wrapper">
  <div class="recipe-data">
    <h2>{{recipe.title | uppercase}}</h2>
    <p><span>Category:</span> {{recipe.category | formatCategory}}</p>
    <p><span>Difficulty:</span> {{recipe.difficulty | lowercase}}</p>
    <p><span>Cooking Time:</span> {{recipe.prepTime | formatPrepTimePipe}}</p>
    <ol>
      <span>Ingredients:</span>
      <li *ngFor="let ingredient of recipe.ingredients">{{ingredient}}</li>
    </ol>
    <p><span>Made by:</span> {{createdBy.username}} {{createdBy.username === loggedUser?.username ? '(you)' : null}}</p>
  </div>
  <div class="recipe-image">
    <img src="{{recipe.imageURL}}"/>
  </div>
  <div class="recipe-description">
    {{recipe.description}}
  </div>
  <div *ngIf="recipe.userId === loggedUser?.id" class="buttons">
    <a routerLink="/recipes/edit/{{recipe.id}}">Edit</a>
    <a (click)="deleteRecipe(recipe.id)">Delete</a>
  </div>
</div>