<div class="recipes-wrapper">
  <div class="recipe-option create">
    <a routerLink="/recipes/create"><span>Create</span> <span>Recipe!</span></a>
  </div>

  <div class="recipe-option explore">
    <a routerLink="/recipes/explore"><span>Explore</span> <span>Recipes!</span></a>
  </div>

  <div class="recipe-option find">
    <a routerLink="/recipes/find"><span>Find</span> <span>Recipe!</span></a>
  </div>
</div>

<div class="recipes-desc">
  <h1>Why we cook?</h1>
  <p class="short">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores asperiores illum impedit dolores harum facere. Aperiam corporis quis commodi dignissimos alias? Quasi placeat necessitatibus aperiam doloribus! Vero nemo repudiandae itaque quam corporis ab voluptates reiciendis aliquam animi commodi ducimus molestias et tempore ipsa, praesentium ad incidunt deleniti unde mollitia ipsum hic error fugiat veniam atque? Corrupti quod praesentium similique tempora voluptas sequi maxime consequatur laborum iusto odit fuga mollitia ipsam adipisci, consequuntur distinctio, dolor quasi illo error aspernatur ratione atque.</p>
  <p class="short">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores asperiores illum impedit dolores harum facere. Aperiam corporis quis commodi dignissimos alias? Quasi placeat necessitatibus aperiam doloribus! Vero nemo repudiandae itaque quam corporis ab voluptates reiciendis aliquam animi commodi ducimus molestias et tempore ipsa, praesentium ad incidunt deleniti unde mollitia ipsum hic error fugiat veniam atque? Corrupti quod praesentium similique tempora voluptas sequi maxime consequatur laborum iusto odit fuga mollitia ipsam adipisci, consequuntur distinctio, dolor quasi illo error aspernatur ratione atque.</p>
  <p class="long">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam vel dignissimos aut. Molestiae animi corrupti quas, deleniti optio delectus corporis illum similique reiciendis error? Voluptatem, similique perferendis temporibus inventore consectetur facere dolor tenetur est vel vero? Et, maiores fugit? Harum laboriosam blanditiis nihil autem quod optio aliquam ea ipsum, non itaque eius. Quas, odio sint? Aliquid rem repudiandae reiciendis voluptate inventore soluta saepe iure voluptatum asperiores sequi nihil consequatur, expedita placeat dolore necessitatibus in enim esse tempora iste numquam obcaecati! Libero quisquam corporis magnam dolor tempora obcaecati culpa eaque, dignissimos error mollitia quasi aliquid consequatur repudiandae maiores quo minus quis inventore. Laudantium optio corporis iusto rem minus exercitationem fugit iste, repudiandae eligendi, quisquam nisi fuga excepturi delectus aliquam suscipit non?</p>
</div>
